.layout {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}

.header {
  text-align: center;
}

.title {
  margin-top: 0;
}

.nav {
}

.navLink {
  margin: 0 5px;
  display: inline-block;
}

.children {
}
