.wrapper {
  columns: 6 200px;
  column-gap: 0.5em;
  text-align: center;
}

.img {
  margin: 0.5em 0 0 0;
}

@media only screen and (max-width: 768px) {
  .wrapper {
  }
}

@media only screen and (max-width: 480px) {
  .wrapper {
  }
}
