.tile {
  position: relative;
  /*width: 100%;*/
  max-width: 220px;
  /*max-height: 225px;*/
  display: inline-block;
  margin: 10px 20px;
}

.title {
  /*position: absolute;*/
  /*text-align: center;*/
  /*bottom: 5px;*/
}

.content {
}

.image {
}
